p{
    color: white;
}
h2{
    color: white;
}
.icon{
    width: 150px;
    height: 150px;
}
.weather{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.temp{
    font-size: 30px;
    margin: 0px;
}
.cf{
    cursor: pointer;
    color: silver;
    transition: 0.1s ease-in-out;
}
.cf:hover{
    color: white;
}

.left, .right{
    color: white;
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    display: flex;
    align-items: center;
}
.des{
    margin: 0px;
}